<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="ISO-8859-1"/>
  <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
</head>
<body th:fragment="header (pageheader)">
  <div class="pt-5 mb-2">
    <a class="h3" th:text="#{header.ticketz}" th:href="@{/secure/tickets}"></a>&nbsp;-&nbsp;<span class="text-secondary small strong" th:text="#{pageheader.ticketz}"/>
  </div>
  <div class="mb-2" sec:authorize="isAuthenticated()">
    <a th:href="@{/secure/tickets}" class="btn btn-sm btn-outline-primary" th:text="#{button.tickets}"></a>
    <a th:href="@{/secure/projects}" class="btn btn-sm btn-outline-primary" th:text="#{button.projects}"></a>
  </div>
  <div class="mb-4 container">
    <div class="row">
      <div class="col-8">
        <p th:text="${pageheader}"></p>
      </div>
      <div class="col-4 text-end" sec:authorize="isAuthenticated()">
        <form th:action="@{/secure/logout}" method="post">
          <p class="small text-muted"><i><span th:text="#{label.logged_in}"></span>&nbsp;<span sec:authentication="principal.username"></span>&nbsp;<button type="submit" class="btn btn-sm btn-light" th:text="#{button.logout}"></button></i></p>
        </form>
      </div>
    </div>
  </div>
  <div th:if="${error}" class="mb-3">
    <span class="text-danger small strong" th:text="${error}"></span>
  </div>
  <div th:if="${message}" class="mb-3">
    <span class="text-success small strong" th:text="${message}"></span>
  </div>
</body>
</html>