<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="ISO-8859-1"/>
  <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
  <title th:text="#{header.ticketz}"/>
</head>
<body th:fragment="messages">
  <div th:if="${error}"  class="mb-3">
    <div class="text-danger small strong" th:text="${error}"/>
  </div>
  <div th:if="${message}"  class="mb-3">
    <div class="text-success small strong" th:text="${message}"/>
  </div>
</body>
</html>