<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div th:replace="~{/fragments/header :: header(pageheader=#{pageheader.error}, activeNav='')}"></div>
        <div class="mb-1">
            <p th:if="${url}" id='url'>
                <b th:text="#{label.page}"></b>: <span th:text="${url}">Page URL</span>
            </p>
            <p th:if="${exception}" id='exception'>
                <b th:text="#{label.error}"></b>: <span th:text="${exception}">Message</span>
            </p>
            <p th:if="${timestamp}" id='created'>
                <b th:text="#{label.occurred}"></b>: <span th:text="${timestamp}">Timestamp</span>
            </p>
        </div>
        <!-- Debug info in HTML comments -->
        <!--/*@thymesVar id="url" type="java.lang.String"*/-->
        <!--/*@thymesVar id="exception" type="java.lang.String"*/-->
        <th:block th:if="${false}">
            <div th:text="${'Failed URL: ' + url}"></div>
            <div th:text="${'Exception: ' + exception}"></div>
        </th:block>
        <div th:replace="~{/fragments/footer :: footer}"></div>
    </div>
</body>
</html>