<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <title>Signup</title>
</head>
<body>
<div class="container">
    <div class="mb-2">
        <h3>Ticketz</h3>
        <p>Signup to access your tickets. Already have an account? Then login!</p>
    </div>
    <form th:action="@{/signup}" th:method="post" th:object="${signup}">
        <div th:if="${error}"  class="mb-3">
            <div class="alert alert-danger" role="alert" th:text="${error}"/>
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" th:field="*{email}"/>
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-2">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" id="firstname" name="firstname" class="form-control" th:field="*{firstname}"/>
            <div class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Firstname Error</div>
        </div>
        <div class="mb-2">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" id="lastname" name="lastname" class="form-control" th:field="*{lastname}"/>
            <div class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</div>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" th:field="*{password}"/>
            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </div>
        <div class="mb-2">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" th:field="*{confirmPassword}"/>
            <div class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</div>
        </div>
        <div class="mb-2">
            <button type="submit" th:method="post" class="btn btn-primary">Signup</button>
            <a th:href="@{/show_login}" class="btn btn-secondary">Go to Login</a>
        </div>
    </form>
</div>
</body>
</html>