<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <title th:text="#{header.ticketz}"/>
</head>
<body>
<div class="container-lg">
    <div th:replace="~{/fragments/header :: header(pageheader=#{pageheader.ticket_list}, activeNav='tickets')}"></div>
    <div class="mb-3">
        <a th:href="@{/secure/tickets/new}" class="btn btn-primary" th:text="#{button.new_ticket}"></a>
    </div>
    <div class="mb-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{table.header.ticket_number}"/>
                <th th:text="#{table.header.project}"/>
                <th th:text="#{table.header.title}"/>
                <th th:text="#{table.header.author}"/>
                <th th:text="#{table.header.editor}"/>
                <th th:text="#{table.header.state}"/>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.ticketNumber}"></td>
                <td th:text="${ticket.project.code}"></td>
                <td th:text="${ticket.description}"></td>
                <td th:text="${ticket.author.email}"></td>
                <td th:text="${ticket.editor != null ? ticket.editor.email : '---'}"></td>
                <td>
                    <span th:switch="${ticket.state}">
                        <span th:case="'CREATED'" class="badge bg-info" th:text="#{CREATED}"></span>
                        <span th:case="'IN_PROGRESS'" class="badge bg-primary" th:text="#{IN_PROGRESS}"></span>
                        <span th:case="'FIXED'" class="badge bg-success" th:text="#{FIXED}"></span>
                        <span th:case="'REJECTED'" class="badge bg-warning text-dark" th:text="#{REJECTED}"></span>
                        <span th:case="'REOPENED'" class="badge bg-info" th:text="#{REOPENED}"></span>
                        <span th:case="'CLOSED'" class="badge bg-secondary" th:text="#{CLOSED}"></span>
                    </span>
                </td>
                <td>
                    <a th:href="@{/secure/tickets/{ticketNumber}(ticketNumber=${ticket.ticketNumber})}"
                       class="btn btn-outline-primary btn-sm" th:text="#{button.edit}">
                        <span class="bi bi-pencil"></span>
                    </a>
                    <button class="btn btn-outline-danger btn-sm" th:text="#{button.delete}"
                       data-bs-toggle="modal" th:attr="data-bs-target=${'#confirm_' + ticket.ticketNumber}">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:each="ticket : ${tickets}">
        <div th:replace="~{/fragments/confirm_dialog :: confirm(id=${'confirm_' + ticket.ticketNumber}, title=#{dialog.delete_ticket.title}, message=#{dialog.delete_ticket.message(${ticket.ticketNumber})}, confirm_url=@{/secure/tickets/{ticketNumber}:delete(ticketNumber=${ticket.ticketNumber})})}"></div>
    </div>
    <div th:replace="~{/fragments/footer :: footer}"></div>
</div>
</body>
</html>